{
    "openapi": "3.0.0",
    "servers": [
        {
            "description": "Quizapp API",
            "url": "https://quizzapp.sbsa.uz"
        }
    ],
    "info": {
        "version": "1.0.0",
        "title": "QuizApp Back-end API",
        "description": "API for managing users, cards, and card items in the QuizApp application.",
        "contact": {
            "name": "Muhammadali Yuldoshev",
            "url": "http://yuldoshev.uz",
            "email": "mukhammadaliweb@gmail.com"
        }
    },
    "paths": {
        "/api/auth": {
            "post": {
                "summary": "Authorization User",
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "userId": {
                                                    "type": "string"
                                                },
                                                "accessToken": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "ok": true,
                                            "meta": {
                                                "statusCode": 201,
                                                "timestamp": "2024-09-11T13:44:59.208Z",
                                                "path": "/api/auth",
                                                "message": "Request successful"
                                            },
                                            "data": {
                                                "userId": "8587605f-6d74-4272-ac1a-784d6d829bb0",
                                                "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI4NTg3NjA1Zi02ZDc0LTQyNzItYWMxYS03ODRkNmQ4MjliYjAiLCJpYXQiOjE3MjYwNjIyOTksImV4cCI6MTcyNjY2NzA5OX0.ib1YcgkUpyYb_loWw2GR7PEe4EmrrG8d_b5Sa973KMM"
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Example": {
                                        "value": {
                                            "ok": true,
                                            "meta": {
                                                "statusCode": 201,
                                                "timestamp": "2024-09-11T13:44:59.208Z",
                                                "path": "/api/auth",
                                                "message": "Request successful"
                                            },
                                            "data": {
                                                "userId": "8587605f-6d74-4272-ac1a-784d6d829bb0",
                                                "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI4NTg3NjA1Zi02ZDc0LTQyNzItYWMxYS03ODRkNmQ4MjliYjAiLCJpYXQiOjE3MjYwNjIyOTksImV4cCI6MTcyNjY2NzA5OX0.ib1YcgkUpyYb_loWw2GR7PEe4EmrrG8d_b5Sa973KMM"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "errors": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "ok": false,
                                            "meta": {
                                                "statusCode": 400,
                                                "timestamp": "2024-09-11T13:47:41.793Z",
                                                "path": "/api/auth",
                                                "errors": "Telegram does not have a user with this ID"
                                            },
                                            "message": "Validation failed"
                                        }
                                    }
                                },
                                "examples": {
                                    "Example": {
                                        "value": {
                                            "ok": false,
                                            "meta": {
                                                "statusCode": 400,
                                                "timestamp": "2024-09-11T13:47:41.793Z",
                                                "path": "/api/auth",
                                                "errors": "Telegram does not have a user with this ID"
                                            },
                                            "message": "Validation failed"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "post-api-auth",
                "x-internal": false,
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "telegramId",
                                    "fullName"
                                ],
                                "properties": {
                                    "telegramId": {
                                        "type": "number",
                                        "x-stoplight": {
                                            "id": "u0bi6rin7gwq5"
                                        }
                                    },
                                    "fullName": {
                                        "type": "string",
                                        "x-stoplight": {
                                            "id": "ijp70ej6507nv"
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "Example": {
                                    "value": {
                                        "telegramId": 1933002694,
                                        "fullName": "Muhammadali Yuldoshev"
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [],
                "description": ""
            }
        },
        "/api/user": {
            "get": {
                "summary": "Get Me",
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-examples": {
                                        "Example 1": {
                                            "ok": true,
                                            "meta": {
                                                "statusCode": 200,
                                                "timestamp": "2024-09-12T05:24:47.752Z",
                                                "path": "/api/user",
                                                "message": "Request successful"
                                            },
                                            "data": {
                                                "user": {
                                                    "id": "8587605f-6d74-4272-ac1a-784d6d829bb0",
                                                    "fullName": "Muhammadali Yuldoshev",
                                                    "telegramId": "1933002694",
                                                    "role": "ADMIN",
                                                    "createdAt": "2024-09-10T13:40:16.487Z",
                                                    "updatedAt": "2024-09-10T13:40:16.487Z",
                                                    "photo": "http://quizzapp.sbsa.uz/api/user/photo"
                                                }
                                            }
                                        }
                                    },
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "user": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "fullName": {
                                                            "type": "string"
                                                        },
                                                        "telegramId": {
                                                            "type": "string"
                                                        },
                                                        "role": {
                                                            "type": "string"
                                                        },
                                                        "createdAt": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        },
                                                        "updatedAt": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        },
                                                        "photo": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Example": {
                                        "value": {
                                            "ok": true,
                                            "meta": {
                                                "statusCode": 200,
                                                "timestamp": "2024-09-12T05:24:47.752Z",
                                                "path": "/api/user",
                                                "message": "Request successful"
                                            },
                                            "data": {
                                                "user": {
                                                    "id": "8587605f-6d74-4272-ac1a-784d6d829bb0",
                                                    "fullName": "Muhammadali Yuldoshev",
                                                    "telegramId": "1933002694",
                                                    "role": "ADMIN",
                                                    "createdAt": "2024-09-10T13:40:16.487Z",
                                                    "updatedAt": "2024-09-10T13:40:16.487Z",
                                                    "photo": "http://quizzapp.sbsa.uz/api/user/photo"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "errors": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {}
                                                    }
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "ok": false,
                                            "meta": {
                                                "statusCode": 401,
                                                "timestamp": "2024-09-12T05:30:24.817Z",
                                                "path": "/api/user",
                                                "errors": []
                                            },
                                            "message": "Unauthorized"
                                        }
                                    }
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": {
                                            "ok": false,
                                            "meta": {
                                                "statusCode": 401,
                                                "timestamp": "2024-09-12T05:30:24.817Z",
                                                "path": "/api/user",
                                                "errors": []
                                            },
                                            "message": "Unauthorized"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "get-api-user",
                "parameters": []
            }
        },
        "/api/user/photo": {
            "get": {
                "summary": "Get Profile Photo",
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "image/jpeg": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                },
                                "examples": {}
                            }
                        },
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "description": "image/jpeg"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "errors": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {}
                                                    }
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "ok": false,
                                            "meta": {
                                                "statusCode": 401,
                                                "timestamp": "2024-09-12T05:30:24.817Z",
                                                "path": "/api/user/api",
                                                "errors": []
                                            },
                                            "message": "Unauthorized"
                                        }
                                    }
                                },
                                "examples": {
                                    "Example": {
                                        "value": {
                                            "ok": false,
                                            "meta": {
                                                "statusCode": 401,
                                                "timestamp": "2024-09-12T05:30:24.817Z",
                                                "path": "/api/user/photo",
                                                "errors": []
                                            },
                                            "message": "Unauthorized"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "get-api-user-photo"
            }
        },
        "/api/card": {
            "post": {
                "summary": "Create New Card",
                "tags": [
                    "Cards"
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "card": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "title": {
                                                            "type": "string"
                                                        },
                                                        "slug": {
                                                            "type": "string"
                                                        },
                                                        "authorId": {
                                                            "type": "string"
                                                        },
                                                        "categoryId": {
                                                            "type": "string"
                                                        },
                                                        "createdAt": {
                                                            "type": "string"
                                                        },
                                                        "updatedAt": {
                                                            "type": "string"
                                                        },
                                                        "items": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "term": {
                                                                        "type": "string"
                                                                    },
                                                                    "cardId": {
                                                                        "type": "string"
                                                                    },
                                                                    "createdAt": {
                                                                        "type": "string"
                                                                    },
                                                                    "updatedAt": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "shareLink": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "ok": true,
                                            "meta": {
                                                "statusCode": 201,
                                                "timestamp": "2024-09-12T05:40:42.219Z",
                                                "path": "/api/card",
                                                "message": "Request successful"
                                            },
                                            "data": {
                                                "card": {
                                                    "id": "df18bcd0-4594-409e-b439-095cffdf4572",
                                                    "title": "O'zbekcha yangi lug'atlar to'plami",
                                                    "slug": "ozbekcha-yangi-lugatlar-toplami-1726119642211",
                                                    "authorId": "8587605f-6d74-4272-ac1a-784d6d829bb0",
                                                    "categoryId": "fl46bcd0-4554-409e-b439-095cffdf8953",
                                                    "createdAt": "2024-09-12T05:40:42.212Z",
                                                    "updatedAt": "2024-09-12T05:40:42.212Z",
                                                    "items": [
                                                        {
                                                            "id": "e5ead252-0935-4ddb-8830-0c2af9a9efec",
                                                            "term": "Salom",
                                                            "cardId": "df18bcd0-4594-409e-b439-095cffdf4572",
                                                            "createdAt": "2024-09-12T05:40:42.212Z",
                                                            "updatedAt": "2024-09-12T05:40:42.212Z"
                                                        },
                                                        {
                                                            "id": "c9071e07-f8b9-40a9-af97-037e3d767f4a",
                                                            "term": "Qandaysiz",
                                                            "cardId": "df18bcd0-4594-409e-b439-095cffdf4572",
                                                            "createdAt": "2024-09-12T05:40:42.212Z",
                                                            "updatedAt": "2024-09-12T05:40:42.212Z"
                                                        },
                                                        {
                                                            "id": "3a438b30-a7c4-4e40-a131-98c083b62c27",
                                                            "term": "Nima gap?",
                                                            "cardId": "df18bcd0-4594-409e-b439-095cffdf4572",
                                                            "createdAt": "2024-09-12T05:40:42.212Z",
                                                            "updatedAt": "2024-09-12T05:40:42.212Z"
                                                        },
                                                        {
                                                            "id": "593c1126-8990-40cf-9b4b-e0156445d2a2",
                                                            "term": "Xayr",
                                                            "cardId": "df18bcd0-4594-409e-b439-095cffdf4572",
                                                            "createdAt": "2024-09-12T05:40:42.212Z",
                                                            "updatedAt": "2024-09-12T05:40:42.212Z"
                                                        }
                                                    ],
                                                    "shareLink": "http://quizzapp.sbsa.uz/api/card/slug/ozbekcha-yangi-lugatlar-toplami-1726119642211"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Example": {
                                        "value": {
                                            "ok": true,
                                            "meta": {
                                                "statusCode": 201,
                                                "timestamp": "2024-09-12T05:40:42.219Z",
                                                "path": "/api/card",
                                                "message": "Request successful"
                                            },
                                            "data": {
                                                "card": {
                                                    "id": "df18bcd0-4594-409e-b439-095cffdf4572",
                                                    "title": "O'zbekcha yangi lug'atlar to'plami",
                                                    "slug": "ozbekcha-yangi-lugatlar-toplami-1726119642211",
                                                    "authorId": "8587605f-6d74-4272-ac1a-784d6d829bb0",
                                                    "categoryId": "fl46bcd0-4554-409e-b439-095cffdf8953",
                                                    "createdAt": "2024-09-12T05:40:42.212Z",
                                                    "updatedAt": "2024-09-12T05:40:42.212Z",
                                                    "items": [
                                                        {
                                                            "id": "e5ead252-0935-4ddb-8830-0c2af9a9efec",
                                                            "term": "Salom",
                                                            "cardId": "df18bcd0-4594-409e-b439-095cffdf4572",
                                                            "createdAt": "2024-09-12T05:40:42.212Z",
                                                            "updatedAt": "2024-09-12T05:40:42.212Z"
                                                        },
                                                        {
                                                            "id": "c9071e07-f8b9-40a9-af97-037e3d767f4a",
                                                            "term": "Qandaysiz",
                                                            "cardId": "df18bcd0-4594-409e-b439-095cffdf4572",
                                                            "createdAt": "2024-09-12T05:40:42.212Z",
                                                            "updatedAt": "2024-09-12T05:40:42.212Z"
                                                        },
                                                        {
                                                            "id": "3a438b30-a7c4-4e40-a131-98c083b62c27",
                                                            "term": "Nima gap?",
                                                            "cardId": "df18bcd0-4594-409e-b439-095cffdf4572",
                                                            "createdAt": "2024-09-12T05:40:42.212Z",
                                                            "updatedAt": "2024-09-12T05:40:42.212Z"
                                                        },
                                                        {
                                                            "id": "593c1126-8990-40cf-9b4b-e0156445d2a2",
                                                            "term": "Xayr",
                                                            "cardId": "df18bcd0-4594-409e-b439-095cffdf4572",
                                                            "createdAt": "2024-09-12T05:40:42.212Z",
                                                            "updatedAt": "2024-09-12T05:40:42.212Z"
                                                        }
                                                    ],
                                                    "shareLink": "http://quizzapp.sbsa.uz/api/card/slug/ozbekcha-yangi-lugatlar-toplami-1726119642211"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "errors": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {}
                                                    }
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "ok": false,
                                            "meta": {
                                                "statusCode": 400,
                                                "timestamp": "2024-09-12T05:52:37.281Z",
                                                "path": "/api/card",
                                                "errors": []
                                            },
                                            "message": "Category not available with this id"
                                        }
                                    }
                                },
                                "examples": {
                                    "Example": {
                                        "value": {
                                            "ok": false,
                                            "meta": {
                                                "statusCode": 400,
                                                "timestamp": "2024-09-12T05:52:37.281Z",
                                                "path": "/api/card",
                                                "errors": []
                                            },
                                            "message": "Category not available with this id"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "errors": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {}
                                                    }
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "ok": false,
                                            "meta": {
                                                "statusCode": 401,
                                                "timestamp": "2024-09-12T05:54:43.204Z",
                                                "path": "/api/card",
                                                "errors": []
                                            },
                                            "message": "Unauthorized"
                                        }
                                    }
                                },
                                "examples": {
                                    "Example": {
                                        "value": {
                                            "ok": false,
                                            "meta": {
                                                "statusCode": 401,
                                                "timestamp": "2024-09-12T05:54:43.204Z",
                                                "path": "/api/card",
                                                "errors": []
                                            },
                                            "message": "Unauthorized"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "post-api-card",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "x-examples": {
                                    "Example 1": {
                                        "title": "Inglizcha yangi lug'atlar to'plami",
                                        "categoryId": "fl46bcd0-4554-409e-b439-095cffdf8953",
                                        "items": [
                                            {
                                                "term": "Salom",
                                                "definition": "Hi"
                                            },
                                            {
                                                "term": "Ahvollar qalay?",
                                                "definition": "How are you?"
                                            },
                                            {
                                                "term": "Nima gap?",
                                                "definition": "What's up?"
                                            },
                                            {
                                                "term": "Xayr!",
                                                "definition": "Bye!"
                                            }
                                        ]
                                    }
                                },
                                "required": [
                                    "title",
                                    "items"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "categoryId": {
                                        "type": "string"
                                    },
                                    "items": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "required": [
                                                "term",
                                                "definition"
                                            ],
                                            "properties": {
                                                "term": {
                                                    "type": "string"
                                                },
                                                "definition": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "Example": {
                                    "value": {
                                        "title": "Inglizcha yangi lug'atlar to'plami",
                                        "categoryId": "fl46bcd0-4554-409e-b439-095cffdf8953",
                                        "items": [
                                            {
                                                "term": "Salom",
                                                "definition": "Hi"
                                            },
                                            {
                                                "term": "Ahvollar qalay?",
                                                "definition": "How are you?"
                                            },
                                            {
                                                "term": "Nima gap?",
                                                "definition": "What's up?"
                                            },
                                            {
                                                "term": "Xayr!",
                                                "definition": "Bye!"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/card/my": {
            "get": {
                "summary": "Get My Cards",
                "tags": [
                    "Cards"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-examples": {
                                        "Example 1": {
                                            "ok": true,
                                            "meta": {
                                                "statusCode": 200,
                                                "timestamp": "2024-09-12T05:59:23.897Z",
                                                "path": "/api/card/my",
                                                "message": "Request successful"
                                            },
                                            "data": {
                                                "cards": [
                                                    {
                                                        "id": "df18bcd0-4594-409e-b439-095cffdf4572",
                                                        "title": "O'zbekcha yangi lug'atlar to'plami",
                                                        "slug": "ozbekcha-yangi-lugatlar-toplami-1726119642211",
                                                        "authorId": "8587605f-6d74-4272-ac1a-784d6d829bb0",
                                                        "categoryId": null,
                                                        "createdAt": "2024-09-12T05:40:42.212Z",
                                                        "updatedAt": "2024-09-12T05:40:42.212Z",
                                                        "shareLink": "http://quizzapp.sbsa.uz/api/card/slug/ozbekcha-yangi-lugatlar-toplami-1726119642211"
                                                    },
                                                    {
                                                        "id": "aad6b702-bb3f-4aa4-88b1-aebf09af3314",
                                                        "title": "Ruscha yangi lug'atlar to'plami",
                                                        "slug": "ruscha-yangi-lugatlar-toplami-1726120747841",
                                                        "authorId": "8587605f-6d74-4272-ac1a-784d6d829bb0",
                                                        "categoryId": null,
                                                        "createdAt": "2024-09-12T05:59:07.843Z",
                                                        "updatedAt": "2024-09-12T05:59:07.843Z",
                                                        "shareLink": "http://quizzapp.sbsa.uz/api/card/slug/ruscha-yangi-lugatlar-toplami-1726120747841"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "cards": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "title": {
                                                                "type": "string"
                                                            },
                                                            "slug": {
                                                                "type": "string"
                                                            },
                                                            "authorId": {
                                                                "type": "string"
                                                            },
                                                            "categoryId": {
                                                                "type": "string",
                                                                "format": "uuid",
                                                                "nullable": true
                                                            },
                                                            "createdAt": {
                                                                "type": "string"
                                                            },
                                                            "updatedAt": {
                                                                "type": "string"
                                                            },
                                                            "shareLink": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Example": {
                                        "value": {
                                            "ok": true,
                                            "meta": {
                                                "statusCode": 200,
                                                "timestamp": "2024-09-12T05:59:23.897Z",
                                                "path": "/api/card/my",
                                                "message": "Request successful"
                                            },
                                            "data": {
                                                "cards": [
                                                    {
                                                        "id": "df18bcd0-4594-409e-b439-095cffdf4572",
                                                        "title": "O'zbekcha yangi lug'atlar to'plami",
                                                        "slug": "ozbekcha-yangi-lugatlar-toplami-1726119642211",
                                                        "authorId": "8587605f-6d74-4272-ac1a-784d6d829bb0",
                                                        "categoryId": "fl46bcd0-4554-409e-b439-095cffdf8953",
                                                        "createdAt": "2024-09-12T05:40:42.212Z",
                                                        "updatedAt": "2024-09-12T05:40:42.212Z",
                                                        "shareLink": "http://quizzapp.sbsa.uz/api/card/slug/ozbekcha-yangi-lugatlar-toplami-1726119642211"
                                                    },
                                                    {
                                                        "id": "aad6b702-bb3f-4aa4-88b1-aebf09af3314",
                                                        "title": "Ruscha yangi lug'atlar to'plami",
                                                        "slug": "ruscha-yangi-lugatlar-toplami-1726120747841",
                                                        "authorId": "8587605f-6d74-4272-ac1a-784d6d829bb0",
                                                        "categoryId": null,
                                                        "createdAt": "2024-09-12T05:59:07.843Z",
                                                        "updatedAt": "2024-09-12T05:59:07.843Z",
                                                        "shareLink": "http://quizzapp.sbsa.uz/api/card/slug/ruscha-yangi-lugatlar-toplami-1726120747841"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "errors": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {}
                                                    }
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "ok": false,
                                            "meta": {
                                                "statusCode": 401,
                                                "timestamp": "2024-09-12T06:03:48.042Z",
                                                "path": "/api/card/my",
                                                "errors": []
                                            },
                                            "message": "Unauthorized"
                                        }
                                    }
                                },
                                "examples": {
                                    "Example": {
                                        "value": {
                                            "ok": false,
                                            "meta": {
                                                "statusCode": 401,
                                                "timestamp": "2024-09-12T06:03:48.042Z",
                                                "path": "/api/card/my",
                                                "errors": []
                                            },
                                            "message": "Unauthorized"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "errors": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {}
                                                    }
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "ok": false,
                                            "meta": {
                                                "statusCode": 404,
                                                "timestamp": "2024-09-12T06:02:25.477Z",
                                                "path": "/api/card/my",
                                                "errors": []
                                            },
                                            "message": "No cards found"
                                        }
                                    }
                                },
                                "examples": {
                                    "Example": {
                                        "value": {
                                            "ok": false,
                                            "meta": {
                                                "statusCode": 404,
                                                "timestamp": "2024-09-12T06:02:25.477Z",
                                                "path": "/api/card/my",
                                                "errors": []
                                            },
                                            "message": "No cards found"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "get-api-card-my"
            }
        },
        "/api/card/slug/{slug}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "slug",
                    "in": "path",
                    "required": true
                }
            ],
            "get": {
                "summary": "Get Card By Slug",
                "tags": [
                    "Cards"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "x-examples": {
                                        "Example 1": "fl46bcd0-4554-409e-b439-095cffdf8953"
                                    }
                                },
                                "examples": {
                                    "Example": {
                                        "value": {
                                            "ok": true,
                                            "meta": {
                                                "statusCode": 200,
                                                "timestamp": "2024-09-12T06:10:20.511Z",
                                                "path": "/api/card/slug/ozbekcha-yangi-lugatlar-toplami-1726119642211",
                                                "message": "Request successful"
                                            },
                                            "data": {
                                                "card": {
                                                    "id": "df18bcd0-4594-409e-b439-095cffdf4572",
                                                    "title": "O'zbekcha yangi lug'atlar to'plami",
                                                    "slug": "ozbekcha-yangi-lugatlar-toplami-1726119642211",
                                                    "authorId": "8587605f-6d74-4272-ac1a-784d6d829bb0",
                                                    "categoryId": "fl46bcd0-4554-409e-b439-095cffdf8953",
                                                    "createdAt": "2024-09-12T05:40:42.212Z",
                                                    "updatedAt": "2024-09-12T05:40:42.212Z",
                                                    "items": [
                                                        {
                                                            "id": "e5ead252-0935-4ddb-8830-0c2af9a9efec",
                                                            "term": "Salom",
                                                            "cardId": "df18bcd0-4594-409e-b439-095cffdf4572",
                                                            "createdAt": "2024-09-12T05:40:42.212Z",
                                                            "updatedAt": "2024-09-12T05:40:42.212Z"
                                                        },
                                                        {
                                                            "id": "c9071e07-f8b9-40a9-af97-037e3d767f4a",
                                                            "term": "Qandaysiz",
                                                            "cardId": "df18bcd0-4594-409e-b439-095cffdf4572",
                                                            "createdAt": "2024-09-12T05:40:42.212Z",
                                                            "updatedAt": "2024-09-12T05:40:42.212Z"
                                                        },
                                                        {
                                                            "id": "3a438b30-a7c4-4e40-a131-98c083b62c27",
                                                            "term": "Nima gap?",
                                                            "cardId": "df18bcd0-4594-409e-b439-095cffdf4572",
                                                            "createdAt": "2024-09-12T05:40:42.212Z",
                                                            "updatedAt": "2024-09-12T05:40:42.212Z"
                                                        },
                                                        {
                                                            "id": "593c1126-8990-40cf-9b4b-e0156445d2a2",
                                                            "term": "Xayr",
                                                            "cardId": "df18bcd0-4594-409e-b439-095cffdf4572",
                                                            "createdAt": "2024-09-12T05:40:42.212Z",
                                                            "updatedAt": "2024-09-12T05:40:42.212Z"
                                                        }
                                                    ],
                                                    "shareLink": "http://quizzapp.sbsa.uz/api/card/slug/ozbekcha-yangi-lugatlar-toplami-1726119642211"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "errors": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {}
                                                    }
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "ok": false,
                                            "meta": {
                                                "statusCode": 401,
                                                "timestamp": "2024-09-12T06:07:52.855Z",
                                                "path": "/api/card/slug/ingliz-tilidagi-yangi-lugatlar-1725597709824",
                                                "errors": []
                                            },
                                            "message": "Unauthorized"
                                        }
                                    }
                                },
                                "examples": {
                                    "Example": {
                                        "value": {
                                            "ok": false,
                                            "meta": {
                                                "statusCode": 401,
                                                "timestamp": "2024-09-12T06:07:52.855Z",
                                                "path": "/api/card/slug/invalid-slug",
                                                "errors": []
                                            },
                                            "message": "Unauthorized"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "errors": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {}
                                                    }
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "ok": false,
                                            "meta": {
                                                "statusCode": 404,
                                                "timestamp": "2024-09-12T06:07:06.969Z",
                                                "path": "/api/card/slug/ingliz-tilidagi-yangi-lugatlar-1725597709824",
                                                "errors": []
                                            },
                                            "message": "Card not found"
                                        }
                                    }
                                },
                                "examples": {
                                    "Example": {
                                        "value": {
                                            "ok": false,
                                            "meta": {
                                                "statusCode": 404,
                                                "timestamp": "2024-09-12T06:07:06.969Z",
                                                "path": "/api/card/slug/invalid-slug",
                                                "errors": []
                                            },
                                            "message": "Card not found"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "get-api-card-slug-slug"
            }
        },
        "/api/card/my/{id}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "id",
                    "in": "path",
                    "required": true
                }
            ],
            "get": {
                "summary": "Get My Card By Id",
                "tags": [
                    "Cards"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "card": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "title": {
                                                            "type": "string"
                                                        },
                                                        "slug": {
                                                            "type": "string"
                                                        },
                                                        "authorId": {
                                                            "type": "string"
                                                        },
                                                        "categoryId": {
                                                            "type": "string"
                                                        },
                                                        "createdAt": {
                                                            "type": "string"
                                                        },
                                                        "updatedAt": {
                                                            "type": "string"
                                                        },
                                                        "items": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "term": {
                                                                        "type": "string"
                                                                    },
                                                                    "cardId": {
                                                                        "type": "string"
                                                                    },
                                                                    "createdAt": {
                                                                        "type": "string"
                                                                    },
                                                                    "updatedAt": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "shareLink": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "ok": true,
                                            "meta": {
                                                "statusCode": 200,
                                                "timestamp": "2024-09-12T06:25:08.040Z",
                                                "path": "/api/card/my/aad6b702-bb3f-4aa4-88b1-aebf09af3314",
                                                "message": "Request successful"
                                            },
                                            "data": {
                                                "card": {
                                                    "id": "aad6b702-bb3f-4aa4-88b1-aebf09af3314",
                                                    "title": "Ruscha yangi lug'atlar to'plami",
                                                    "slug": "ruscha-yangi-lugatlar-toplami-1726120747841",
                                                    "authorId": "8587605f-6d74-4272-ac1a-784d6d829bb0",
                                                    "categoryId": null,
                                                    "createdAt": "2024-09-12T05:59:07.843Z",
                                                    "updatedAt": "2024-09-12T05:59:07.843Z",
                                                    "items": [
                                                        {
                                                            "id": "a161ae63-a5ec-455e-91fe-17685fc506a3",
                                                            "term": "Salom",
                                                            "cardId": "aad6b702-bb3f-4aa4-88b1-aebf09af3314",
                                                            "createdAt": "2024-09-12T05:59:07.843Z",
                                                            "updatedAt": "2024-09-12T05:59:07.843Z"
                                                        },
                                                        {
                                                            "id": "fa9b8e5b-871a-4f9f-bd66-1f17ef5713de",
                                                            "term": "Qandaysiz",
                                                            "cardId": "aad6b702-bb3f-4aa4-88b1-aebf09af3314",
                                                            "createdAt": "2024-09-12T05:59:07.843Z",
                                                            "updatedAt": "2024-09-12T05:59:07.843Z"
                                                        },
                                                        {
                                                            "id": "f61a9c12-7ccb-4f42-816c-4a5db002f8d1",
                                                            "term": "Nima gap?",
                                                            "cardId": "aad6b702-bb3f-4aa4-88b1-aebf09af3314",
                                                            "createdAt": "2024-09-12T05:59:07.843Z",
                                                            "updatedAt": "2024-09-12T05:59:07.843Z"
                                                        },
                                                        {
                                                            "id": "4d43ffe3-3358-4f7f-835e-b0acbb2f33a0",
                                                            "term": "Xayr",
                                                            "cardId": "aad6b702-bb3f-4aa4-88b1-aebf09af3314",
                                                            "createdAt": "2024-09-12T05:59:07.843Z",
                                                            "updatedAt": "2024-09-12T05:59:07.843Z"
                                                        }
                                                    ],
                                                    "shareLink": "http://quizzapp.sbsa.uz/api/card/slug/ruscha-yangi-lugatlar-toplami-1726120747841"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Example": {
                                        "value": {
                                            "ok": true,
                                            "meta": {
                                                "statusCode": 200,
                                                "timestamp": "2024-09-12T06:25:08.040Z",
                                                "path": "/api/card/my/aad6b702-bb3f-4aa4-88b1-aebf09af3314",
                                                "message": "Request successful"
                                            },
                                            "data": {
                                                "card": {
                                                    "id": "aad6b702-bb3f-4aa4-88b1-aebf09af3314",
                                                    "title": "Ruscha yangi lug'atlar to'plami",
                                                    "slug": "ruscha-yangi-lugatlar-toplami-1726120747841",
                                                    "authorId": "8587605f-6d74-4272-ac1a-784d6d829bb0",
                                                    "categoryId": null,
                                                    "createdAt": "2024-09-12T05:59:07.843Z",
                                                    "updatedAt": "2024-09-12T05:59:07.843Z",
                                                    "items": [
                                                        {
                                                            "id": "a161ae63-a5ec-455e-91fe-17685fc506a3",
                                                            "term": "Salom",
                                                            "cardId": "aad6b702-bb3f-4aa4-88b1-aebf09af3314",
                                                            "createdAt": "2024-09-12T05:59:07.843Z",
                                                            "updatedAt": "2024-09-12T05:59:07.843Z"
                                                        },
                                                        {
                                                            "id": "fa9b8e5b-871a-4f9f-bd66-1f17ef5713de",
                                                            "term": "Qandaysiz",
                                                            "cardId": "aad6b702-bb3f-4aa4-88b1-aebf09af3314",
                                                            "createdAt": "2024-09-12T05:59:07.843Z",
                                                            "updatedAt": "2024-09-12T05:59:07.843Z"
                                                        },
                                                        {
                                                            "id": "f61a9c12-7ccb-4f42-816c-4a5db002f8d1",
                                                            "term": "Nima gap?",
                                                            "cardId": "aad6b702-bb3f-4aa4-88b1-aebf09af3314",
                                                            "createdAt": "2024-09-12T05:59:07.843Z",
                                                            "updatedAt": "2024-09-12T05:59:07.843Z"
                                                        },
                                                        {
                                                            "id": "4d43ffe3-3358-4f7f-835e-b0acbb2f33a0",
                                                            "term": "Xayr",
                                                            "cardId": "aad6b702-bb3f-4aa4-88b1-aebf09af3314",
                                                            "createdAt": "2024-09-12T05:59:07.843Z",
                                                            "updatedAt": "2024-09-12T05:59:07.843Z"
                                                        }
                                                    ],
                                                    "shareLink": "http://quizzapp.sbsa.uz/api/card/slug/ruscha-yangi-lugatlar-toplami-1726120747841"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "errors": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {}
                                                    }
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "ok": false,
                                            "meta": {
                                                "statusCode": 401,
                                                "timestamp": "2024-09-12T06:23:18.594Z",
                                                "path": "/api/card/my/1484ec5e-5998-4917-b44a-83260b1bf15f",
                                                "errors": []
                                            },
                                            "message": "Unauthorized"
                                        }
                                    }
                                },
                                "examples": {
                                    "Example": {
                                        "value": {
                                            "ok": false,
                                            "meta": {
                                                "statusCode": 401,
                                                "timestamp": "2024-09-12T06:23:18.594Z",
                                                "path": "/api/card/my/1484ec5e-5998-4917-b44a-83260b1bf15f",
                                                "errors": []
                                            },
                                            "message": "Unauthorized"
                                        }
                                    }
                                }
                            }
                        }
                    },
[...]
